body {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-spacing: 10px;
}

.label, input {
  font-size: 1.2em;
}

#row-submit {
  text-align: center;
}

.warn-icon {
  height: 1.4em;
  margin-left:7px;
  display: none;
}

