<!DOCTYPE html>
  <head>
    <title>Auto</title>
    {%- from 'inputs_table.html' import inputs_table -%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auto.css') }}">
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auto.js') }}"></script>
  </head>
  <body>
    {%- with messages = get_flashed_messages() -%}
      {%- if messages -%}
        <h1 id="flash" style="position: absolute; bottom: 0; left: 0;">{{ messages[0] }}</h1>
        <script>
          setTimeout(function() {
            document.getElementById("flash").style.display = "none";
          }, 3000);
        </script>
      {%- endif -%}
    {%- endwith -%}
    
    <form name="form" action="/form/submit" method="post" onsubmit="return onSubmit()" onSubmit(event)">
      <table id="form-table">
        <tr><td>
          <input id="url" name="url" type="url" required>
          <input id="scrapeBtn" value="Scrape" type="button" onclick="scrapeURL">
        </td></tr>
        <tr><td>
          {{ inputs_table() }}
        </td></tr>
        <tr id="row-submit" class="row"><td>
          <input id="submitBtn" value="Submit" type="submit" onclick="/*onSubmit()*/">
        </td></tr>
      </table>
    </form>
  </body>
</html>

