<!DOCTYPE html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <h1 id="flash" style="position: absolute; bottom: 0; left: 0;">{{ messages[0] }}</h1>
        <script>
          setTimeout(function() {
            document.getElementById("flash").style.display = "none";
          }, 3000);
        </script>
      {% endif %}
    {% endwith %}
    
    <form name="form" action="/form/submit" method="post" onsubmit="return onSubmit()" onSubmit(event)">
      <table id="form-table">
        <tr><td>
          <table id="inputs-table">

            <tr id="row-name" class="row">
              <td><span class="label">Name:</span></td>
              <td class="input-td"><input id="name" name="name" type="text" required></td>
              <td><img id="warn-icon-name" class="warn-icon" src="https://image.flaticon.com/icons/svg/148/148768.svg"></td>
            </tr>

            <tr id="row-price" class="row">
              <td><span class="label">Price:</span></td>
              <td class="input-td"><input id="price" name="price" type="text" required oninput="validatePrice(event)" onpaste="validatePrice(event)"></td>
              <td><img id="warn-icon-price" class="warn-icon" src="https://image.flaticon.com/icons/svg/148/148768.svg"></td>
            </tr>

            <tr id="row-stars" class="row">
              <td><span class="label">Stars:</span></td>
              <td class="input-td">
                <input name="stars" type="radio" value="0" checked>0</input>
                <input name="stars" type="radio" value="1">1</input>
                <input name="stars" type="radio" value="2">2</input>
                <input name="stars" type="radio" value="3">3</input>
                <input name="stars" type="radio" value="4">4</input>
                <input name="stars" type="radio" value="5">5</input>
              </td>
              <td><img id="warn-icon-stars" class="warn-icon" src="https://image.flaticon.com/icons/svg/148/148768.svg"></td>
            </tr>

            <tr id="row-ratings" class="row">
              <td><span class="label">Ratings:</span></td>
              <td class="input-td"><input id="ratings" name="ratings" type="text" required oninput="validateRatings(event)" onpaste="validateRatings(event)"></td>
              <td><img id="warn-icon-ratings" class="warn-icon" src="https://image.flaticon.com/icons/svg/148/148768.svg"></td>
            </tr>

          </table>
        </td></tr>
        <tr id="row-submit" class="row"><td><input id="submitBtn" value="Submit" type="submit" onclick="/*onSubmit()*/"></td></tr>
      </table>
    </form>
  </body>
</html>

